* {
    font-family: sans-serif; /* Change your font family */
  }
  
  
  body{
      background:#E9E9E9; 
  }
  .form{
      margin: 20px, 0,0,0;
  }
  hr.linhaSep {
      border-top: 5px solid burlywood;
  }
  
  .posCampos{
      position: absolute;
      margin: 0 auto;
      left: 190px;    
  }
  
  .centralizar{   
      margin: 0 auto;  /*Centraliza o div*/
      text-align: center; /* Centraliza o conteúdo do div (os botões)*/   
  }
  
  .tabTitulo{
      margin: 0 auto;  /*Centraliza o div*/
      text-align: center; /* Centraliza o conteúdo do div (os botões)*/   
      color: #69a6c2;   
      font-size: 18px;
      font-weight:bolder;
  }
  
  .tabGeral{    
      border-collapse: collapse;
      margin: 0 auto;  /*Centraliza tabela*/
      font-size: 0.9em;
      min-width: 1024px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    
  }
  
  .tabGeral thead tr {
    background-color: #69a6c2;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .tabGeral th, td {
    padding: 12px 15px;
  }
  
  
  .tabGeral tbody tr {
    border-bottom: 1px solid #dddddd; 
  }
  
  .tabGeral tbody tr:nth-of-type(even) { 
                    /* estiliza os elementos que são o enésimo número de filhos de seu elemento pai.*/
                    /* odd: filhos 1,3,2  even: filhos 2, 4, 6  */    
      background-color: #f3f3f3;
  }
  
  .tabGeral tbody tr:last-of-type { /*aplica o estilo na última linha*/
    border-bottom: 2px solid #69a6c2;
  }
  
  .tabGeral th:first-child { width: 70px  }
  .tabGeral th:first-child + th {   text-align: center;}
  .tabGeral th:first-child + th + th {  width: 50px }
  .tabGeral th:first-child + th + th + th {  width: 70px }
  .tabGeral th:first-child + th + th + th + th {  width: 70px }
  
  
  .tabGeral td:first-child { width: 70px  }
  .tabGeral td:first-child + td {   text-align: left;}
  .tabGeral td:first-child + td + td {  width: 50px }
  .tabGeral td:first-child + td + td + td {  width: 70px }
  .tabGeral td:first-child + td + td + td + td {  width: 70px }
  
  .msgCadastro{
    
    text-align: center; /* Centraliza o conteúdo do div (os botões)*/  
    color: green;
  }
  .msgExcluir{   
      margin: 0 auto;  /*Centraliza o div*/
      text-align: center; /* Centraliza o conteúdo do div (os botões)*/  
      color: red;
      font-size: 36px;
      font-weight:bolder;
  }
  
  .msgValCampo{  
    position: relative;  
    margin-top: 5px;
    left: 90px;  
    color: red;
    font-size: 14px;  
  }
  
  .msgErro{    
    border: 2px solid #F5C6CB;
    border-radius: 25px;
  
    /* text-align: center; 
    color: red;
    border-radius: f5c6cb;
    background-color: #;
    font-size: 18px;
    font-weight:bolder; */
  }
  
  
  .tdCentro{
    text-align: center;
  }